@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto:ital,wght@1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

:root{ /*The Css :root pseusdo-class selector is used to select the highest-level parent of a given specification. in the html specification, the :root is essentailly equivalent tot the html selector
--*/
--primary-color: #87cee8;
--text-color: #727171;}

html {
    font-size: 10px; }

body{
    font-family:  'Inter', sans-serif;
    background-color: black;
    color: white; }

/* Common styles */
img{
    width: 110%;
}

a{
text-decoration: none;
color: white; }

.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);     }

    .subheading{
        color: var(--primary-color);
        font-weight: 700;
        font-size: 2rem;
        text-transform: uppercase; 
    }

/* .profile */
.profile_cont{
    display: flex; /* By using display flex in parent element child elements automatically align like column or row with auto width and auto height. */
gap: 3rem;
}

.mypic {
    max-width: 250px;
}

.firstname{
    color: white;
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem); /* The clamp() CSS function clamps a middle value within a range of values between a defined minimum bound and a maximum bound */
    text-transform: uppercase;
    display: block; /* A block-level element always starts on a new line and takes up the full width available (stretches out to the left and right as far as it can). */
margin-top: 10px;
}

.lastname{
    color: var(--primary-color); /* The Var() CSS fucntion can be used to insert the value of a custom property ("sometimes called a CSS variable") instead of any part of a value of another property. */
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;         
}

.profiletits{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;    
    }

.downloadbtn{
    display: block;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.downloadbtn:hover{
    color: var(--primary-color);
}

/* Expertise */
.skill_list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2; 
     
}

/* Reference */
.refitem{
    margin-top: 2rem;
}

.refitem{
    font-size: 1.6rem;
    font-weight: 700;
} 

/* Layout */
.container{
    max-width: 1000px;   
    width: 90%;
    margin: 0 auto;
    display: grid; /* Defines the element as a grid container and establishes a new grid formatting context for its contents */
    padding: 5rem;
    background-color: #070707;
    grid-template-columns: 1fr 1fr ; /* Two columns */   
    gap: 4rem;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;     
        padding: 3rem;
        gap: 7rem;       
    }
}

.profile{
    grid-column: 1/ -1;      /* makes the profile take only one columns */
    margin-bottom: 2rem;                                                   
}

.group1{
    display: flex; /* By using display flex in parent element, child elements automatically align like column or row with auto width and auto height */
    flex-direction: column;
    gap: 5rem; /* adds 5rem gap between the flex items*/

}
