.translate {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: translate(50px,100px);
  }

  .ss {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
  }
  
  #myDiv {
    transform: rotate(-20deg);
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
  }

  .divshoe {
    margin: 150px;
    width: 200px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: scale(2 ,3);
  }

  .reduce {
    margin: 150px;
    width: 200px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: scale(0.5,0.5);
  }

  .scaleX{
    margin: 150px;
    width: 200px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: scaleX(2);
  }

  .scaleY{
    margin: 150px;
    width: 200px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: scaleY(3);
  }

  .skew {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
  }
  
  #myDivs {
    transform: skewX(20deg);
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
  }

  .fkew {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
  }
  
  #myDivd {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: skewY(20deg);
  }

  .flew {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
  }
  
  #myDive {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: skew(20deg,10deg);
  }

  .fmew {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
  }
  
  #myDivg {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: skew(20deg);
  }

  #myDiv3 {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
  }
  
  #myDiv1 {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: matrix(1, -0.3, 0, 1, 0, 0);
  }
  
  #myDiv2 {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: matrix(1, 0, 0.5, 1, 150, 0);
  }

  .see {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
  }
  
  #myfiv {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: rotateX(150deg);
  }

  .sef {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
  }
  
  #myDig{
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: rotateY(150deg);
  }

  .seg {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
  }
  
  #myDih {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: rotateZ(90deg);
  }